body {
  background: #fafafa;
}

h1 {
    text-align:center;
}

.mdl-grid {
  padding: 0!important;
}

.mdl-cell {
  box-sizing: border-box;
  background-color: #BDBDBD;
  height: 100px;
  padding-left: 8px;
  padding-top: 4px;
  color: white;
}
